@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,400;0,700;1,400&display=swap');



body {
  font-family: 'Montserrat', sans-serif;
  background: linear-gradient(42deg, #80d4d5 0%, #ffda8a 100%);
  margin: 10hv;
}

h1 {
  text-align: center;
}

hr {
  border: 0.5px solid gray;
}

p {
  text-align: justify;
}


element.style {
}
#quarto-appendix.default {
    background-color: #bbe3e3;

}