@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,400;0,700;1,400&display=swap');



body {
  font-family: 'Montserrat', sans-serif;
  background: linear-gradient(42deg, rgba(151,234,235,0.5) 0%, rgba(249,231,193,0.5) 100%);
  /*background-image: url("background.jpg");*/
  margin: 10hv;
}

h1 {
  text-align: center;
}

hr {
  border: 0.5px solid gray;
}

p {
  text-align: justify;
}